@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/placeholders" as *;

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem $paddingHorizontal;
  background-color: $secondary-color-2;
  @extend %relative-container;
  z-index: 1;
  @include responsive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
    div:first-of-type {
      grid-column: 1 / span 2;
      margin-bottom: 2rem;
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    div:not(:first-of-type) {
      width: 100%;
    }
  }
}

.sectionInfos {
  padding-right: 2rem;
  @include responsive {
    padding-right: 0;
  }
}

.logo {
  width: 25rem;
  height: 7rem;
  margin: 0 auto 1.5rem;
  @include responsive {
    width: 18rem;
    
  }
}

.sectionTitle {
  @include fluid-type(5);
  font-family: $title-font-family;
  font-weight: 700;
  color: $secondary-color-1;
  margin: 2.5rem 0 0.5rem 0.5rem;
}

.contactInfo {
  color: $accent-color;
}

.socialMedia {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $secondary-color-1;
  @include responsive {
    align-self: flex-start;
  }
}

.cta {
  @include responsive {
    margin: 3.5rem auto 2rem;
  }
}
