@use "@styles/partials/mixins" as *;
@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.navigationSection {
  padding: 2.5rem spaceHCalc(1.5rem, 25rem, 30rem);
  background-color: $secondary-color-2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem 0;
  @extend %relative-container;
  @include color-curve-bottom($secondary-color-2);
  a {
    width: calc(100% - spaceHCalc(.5rem, 1.5rem, 2rem));
    justify-self: center;
  }
  li {
    display: grid;
  }
  li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  li:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  li:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
    a:hover {
      color: $secondary-color-1;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}