@use "@styles/partials/mixins" as *;
@use "@styles/partials/placeholders" as *;
@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;

.googleReviewsSection {
  background-color: $primary-color;
  padding-left: 0;
  padding-right: 0;
  hgroup {
    padding-left: $paddingHorizontal;
    padding-right: $paddingHorizontal;
    text-align: center;
    p {
      padding: 0 spaceHCalc(0rem, 10rem, 25rem);
      width: 100%;
      text-align: center;
    }
  }
}

.iframeWrapper {
  margin-top: 2rem;
  width: 100%;
  height: 25rem;
  padding-left: $paddingHorizontal;
  padding-right: $paddingHorizontal;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.reviewsList {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 3rem;
  padding-left: $paddingHorizontal;
  padding-right: $paddingHorizontal;
  li {
    flex-shrink: 0;
    max-width: 20rem;
    height: 20rem;
  }
  @include responsive {
    width: 100%;
    gap: 1rem;
    overflow-x: auto;
    li:nth-of-type(1) {
      margin-left: 0.5rem;
      max-width: 20rem;
    }
    li:nth-of-type(3) {
      margin-right: 0.5rem;
    }
  }
}

.cta {
  margin: 3rem auto 0;
  @include responsive {
    margin: 2rem auto;
  }
}

.noReviews {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 auto;
}
