* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

button {
  border: none;
  background: none;
  width: fit-content;
}

img {
  object-fit: cover;
}

input, textarea, button, image, a {
  display: block;
}

textarea{
  resize: none;
}