@use "partials/variables" as *;
@use "partials/functions" as *;
@use "partials/mixins" as *;
@use "partials/placeholders" as *;

// Police - Titre h1
@font-face {
  font-family: "Parisienne";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Parisienne/subset-Parisienne-Regular.woff2")
    format("woff2");
}

// Polices - Titre h2 et h3
@font-face {
  font-family: "Dancing Script";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/DancingScript/subset-DancingScript-Bold.woff2")
    format("woff2");
}
@font-face {
  font-family: "Dancing Script";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/DancingScript/subset-DancingScript-SemiBold.woff2")
    format("woff2");
}

// Polices - Titre h4 et Texte corps de page
@font-face {
  font-family: "Yaldevi";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Yaldevi/subset-Yaldevi-Medium.woff2")
    format("woff2");
}
@font-face {
  font-family: "Yaldevi";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/Yaldevi/subset-Yaldevi-SemiBold.woff2")
    format("woff2");
}
@font-face {
  font-family: "Yaldevi";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Yaldevi/subset-Yaldevi-Bold.woff2") format("woff2");
}

img {
  &:not([src]) {
    background-image: url("@assets/images/fallback.webp");
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    @include fluid-type(-2);
    font-family: $body-font-family;
    font-weight: 500;
    text-align: center;
    line-height: 1.1; /* Ajustez en fonction de la hauteur de l'image */
    color: $tertiary-color;
  }
}

body {
  color: $tertiary-color;
  background-color: $primary-color;
  padding-top: 5rem;
  @include responsive {
    padding-top: 4rem;
  }
}

h1 {
  @include fluid-h1-type;
  font-family: $h1-font-family;
  color: $secondary-color-1;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  @include fluid-type(5);
  font-family: $title-font-family;
  font-weight: 700;
  color: $secondary-color-1;
  text-align: center;
  margin: 2rem auto;
  padding: 0 spaceHCalc(1.5rem, 17rem, 22rem);
}

h3 {
  @include fluid-type(4);
  font-family: $title-font-family;
  font-weight: 600;
}

h4 {
  @include fluid-type(2);
  font-family: $body-font-family;
  font-weight: 700;
}

p,
a,
label,
button,
input,
textarea {
  @include fluid-type(0);
  font-family: $body-font-family;
}

p {
  font-weight: 500;
}

a,
input[type="submit"],
button {
  font-weight: 700;
  &.primary-button {
    @extend %button;
    @include button("primary");
  }
  &.secondary-button {
    @extend %button;
    @include button("secondary");
  }
  &.tertiary-button {
    @extend %button;
    @include button("tertiary");
  }
  &.menu-button {
    @extend %button;
    @include button("menu");
  }
  &.menu-disabled-button {
    @extend %button;
    @include button("menu-disabled");
  }
}

small {
  @include fluid-type(-2);
  font-family: $body-font-family;
  font-weight: 500;
}

label {
  font-weight: 700;
}

.pink {
  color: $secondary-color-2;
}

section {
  padding: 4rem $paddingHorizontal;
}

ul {
  line-height: 2rem;
  p {
    font-weight: 600;
  }
}

span {
  display: block;
}
