@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;

.gallerySection {
  background: $gradient-pink-white;
  padding: 4rem $paddingHorizontal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 13.5rem 13.5rem;
  gap: 1.25rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 2rem 0 2rem 0;
  }
  li {
    width: 100%;
    height: 100%;
  }
  li:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  li:nth-of-type(2) {
    grid-column: 2 / span 2;
    grid-row: 2;
  }
  li:nth-of-type(3) {
    grid-column: 2;
    grid-row: 1;
  }
  li:nth-of-type(4) {
    grid-column: 3 / span 2;
    grid-row: 1;
  }
  li:nth-of-type(5) {
    grid-column: 4;
    grid-row: 2;
  }

  @include responsive {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 12rem 12rem 12rem;
    gap: 1rem;
    img {
      border-radius: 1.5rem 0 1.5rem 0;
    }
    li:nth-of-type(1) {
      grid-column: 4;
      grid-row: 3;
    }
    li:nth-of-type(2) {
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    li:nth-of-type(3) {
      grid-column: 1 / span 3;
      grid-row: 3;
    }
    li:nth-of-type(4) {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    li:nth-of-type(5) {
      grid-column: 3 / span 2;
      grid-row: 2;
    }
  }
}
