.star {
  width: 1.2rem;
  height: 1.2rem;
  background: linear-gradient(#ffff0f, #f18007);
  // margin: 0 -0.075rem;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
