@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/placeholders" as *;

.simpleMessageFormSection {
  background: $gradient-pink-white;
  @extend %relative-container;
  @include color-curve-bottom($secondary-color-2);
  form {
    padding: 0 spaceHCalc(0rem, 8rem, 12rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0 2rem;
    div:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1;
    }
    div:nth-of-type(2) {
      grid-column: 1;
      grid-row: 2;
    }
    div:nth-of-type(3) {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
    input[type="submit"] {
      grid-column: 1 / span 2;
      margin: 3.5rem auto 1rem;
    }
    @include responsive {
      display: block;
    }
  }
  span {
    color: $accent-color;
    display: inline-block;
  }
  label {
    opacity: 0.5;
  }
}
