@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/mixins" as *;

.flagShipProductSection {
  background: linear-gradient(rgba(124, 26, 59, 0.85)),
    var(--background-image) $bg-img-char;
  display: grid;
  align-items: center;
  gap: 0 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8rem 8rem 8rem;
  padding-left: spaceHCalc(1.5rem, 16rem, 25rem);
  padding-right: spaceHCalc(1.5rem, 16rem, 25rem);
  color: $primary-color;
  text-align: start;
  img {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    justify-self: flex-end;
  }
  h2 {
    padding: 0;
    margin: 0;
    text-align: start;
  }
  @include responsive {
    grid-template-columns: 1fr;
    gap: 4rem 0;
    grid-template-rows: auto auto auto auto;
    text-align: center;
    img {
      grid-column: auto;
      grid-row: auto;
      justify-self: center;
    }
    a {
      margin: 0 auto;
    }
    h2 {
      text-align: center;
    }
  }
}
