@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;

.timeSuggestions {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  background-color: white;
  border: 0.05rem solid rgba(33, 28, 38, 0.125);
  box-shadow: 0 0 0.75rem rgba(99, 99, 99, 0.2);
  border-radius: 0 0 1rem 0;
  max-height: 8rem;
  overflow-y: auto;
  z-index: 10;
  li {
    padding: 0.5rem;
    cursor: pointer;
    border: 0.05rem solid rgba(33, 28, 38, 0.125);
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $secondary-color-2;
    }
  }
}

.disclaimer {
  margin-top: 1rem;
  color: $accent-color;
}

.error {
  color: rgb(224, 19, 19);
  margin-top: 0.1rem;
  position: absolute;
  top: calc(100%);
  small {
    font-weight: 700;
    font-size: 0.8rem;
  }
}

input.inputError:focus {
  outline: 0.1rem solid rgb(224, 19, 19);
}

