@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;

.simpleImageTextSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0 2rem;
  background: linear-gradient(
      90deg,
      rgba(255, 252, 240, 0.25),
      rgb(255, 252, 240) 58%
    ),
    linear-gradient(rgba(33, 28, 38, 0.3), rgba(33, 28, 38, 0.3)),
    var(--background-image) $bg-img-char;
  h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  img {
    grid-column: 1;
    grid-row: 2;
    width: 20rem;
    height: 20rem;
    justify-self: flex-end;
    border-radius: 2rem 0 2rem 0;
  }
  @include responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 1.5rem 0 1.5rem 0;
      margin-bottom: 3rem;
    }
  }
}

.informationDetails {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: fit-content;
  h3 {
    order: 1;
    margin: 2rem 0 0.75rem;
  }
  ul:nth-of-type(1) {
    order: 0;
  }
  ul:nth-of-type(2) {
    order: 2;
  }
}
