@use "@styles/partials/mixins" as *;
@use "@styles/partials/variables" as *;
@use "@styles/partials/placeholders" as *;

.headerPageContainer {
  width: 100vw;
}

.banner {
  width: 100%;
  height: 15rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.titlePage {
  background-color: $primary-color;
  padding: 2.5rem $paddingHorizontal 1.5rem;
  text-align: center;
  @extend %relative-container;
  @include color-curve-bottom;
}
