@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/placeholders" as *;

.reservationSection {
  margin-bottom: $paddingHorizontal;
}

.reservationIntroduction {
  text-align: center;
  color: $primary-color;
  background: linear-gradient(rgba(124, 26, 59, 0.85)),
    var(--background-image) $bg-img-char;
  padding-bottom: 10rem;
  p {
    padding: 0 spaceHCalc(0rem, 20rem, 22rem);
  }
}

.reservationBlocs {
  display: flex;
  margin: -4rem $paddingHorizontal 0;
  overflow: hidden;
  border-radius: 2rem 0 2rem 0;
  box-shadow: -4px 4px 1rem rgba(0, 0, 0, 0.25);
  section,
  h2 {
    padding: 0;
  }
  h2 {
    margin: 0 0 3rem;
  }
  section {
    width: 50%;
    padding: 3rem spaceHCalc(1.5rem, 2rem, 4rem);
  }
  @include responsive {
    flex-direction: column;
    border-radius: 1.5rem 0 1.5rem 0;
    margin-bottom: 5rem;
    section {
      width: 100%;
    }
  }
}

.physicalReservation {
  background: linear-gradient($tertiary-color, #7a678c);
  color: $primary-color;
  hgroup {
    margin-bottom: 3rem;
  }
  h3 {
    margin: 2.5rem 0 0.75rem;
  }
}

.onlineReservation {
  background: linear-gradient($primary-color, white);
  div {
    position: relative;
  }
  span {
    color: $accent-color;
    display: inline-block;
  }
  label {
    opacity: 0.5;
  }
  input {
    background-color: white;
    &:not([type="submit"]) {
      padding: 0.5rem;
      height: 2.5rem;
      border: 0.05rem solid rgba(33, 28, 38, 0.125);
      box-shadow: 0 0 0.75rem rgba(79, 79, 79, 0.2);
      border-radius: 1rem 0 1rem 0;
      width: 100%;
      margin-top: 0.25rem;
    }
    &[type="submit"] {
      padding: 0 3.5rem;
      margin: 0 auto;
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
    &:placeholder-shown {
      font-style: italic;
      font-size: 0.85rem;
      color: rgba(33, 28, 38, 0.7);
    }
    &[type="button"] {
      text-align: left;
      cursor: pointer;
      &[value="Sélectionnez une heure ⇅"] {
        color: rgba(33, 28, 38, 0.35);
        font-style: italic;
        font-size: 0.85rem;
      }
    }
  }
  form {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.25fr 1.25fr 1fr 1fr;
    p,
    input[type="submit"] {
      grid-column: span 2;
    }
    @include responsive {
      display: flex;
      flex-direction: column;
      gap: 2rem 0;
      div {
        margin: 0 2rem;
      }
    }
  }
}
