@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/placeholders" as *;

.ctaSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 9rem 2.5rem 9rem;
  gap: 0 3rem;
  @extend %relative-container;
  @include color-curve-bottom;
  h2 {
    grid-column: span 2;
  }
  p {
    align-self: flex-end;
    grid-column: 2;
    grid-row: 2;
  }
  @include responsive {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 18rem;
    h2 {
      grid-column: 1;
    }
    p {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

.cta {
  grid-column: 2;
  grid-row: 4;
  @include responsive {
    grid-column: 1;
    grid-row: 3;
    margin: 2rem auto;
  }
}

.images {
  grid-column: 1;
  grid-row: 2 / span 3;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  img {
    width: 100%;
    height: 100%;
    &:not(:first-child) {
      position: absolute;
      width: 40%;
      height: 40%;
    }
    &:first-child {
      clip-path: polygon(
        calc(40% + 0.75rem) calc(40% + 0.75rem),
        calc(40% + 0.75rem) 0,
        100% 0,
        100% calc(60% - 0.75rem),
        calc(60% - 0.75rem) calc(60% - 0.75rem),
        calc(60% - 0.75rem) 100%,
        0 100%,
        0 calc(40% + 0.75rem)
      );
    }
    &:nth-of-type(2) {
      top: 0;
      left: 0;
    }
    &:last-child {
      bottom: 0;
      right: 0;
    }
  }
  @include responsive {
    grid-column: 1;
    grid-row: 4;
    border-radius: 0.75rem;
    img {
      &:not(:first-child) {
        outline-width: 0.5rem;
      }
      &:nth-of-type(2) {
        border-radius: 0 0 0.75rem 0;
      }
      &:last-child {
        border-radius: 0.75rem 0 0 0;
      }
    }
  }
}
