@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/placeholders" as *;

.complexTripleImagesSection {
  @extend %relative-container;
  @include color-curve-top;
  @include color-curve-bottom;
  padding: 4rem spaceHCalc(1.5rem, 12rem, 20rem);
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 41% 9% 1fr;
  grid-template-rows: auto 13rem 6.5rem 6.5rem;
  gap: 1rem 1.5rem;
  h2 {
    grid-column: 1 / span 3;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 2rem 0 2rem 0;
  }
  ul {
    grid-row: 2 / span 3;
    grid-column: 1 / span 2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:
      calc($aThirteenth * 3) calc($aThirteenth * 3) calc($aThirteenth * 1)
      calc($aThirteenth * 3) calc($aThirteenth * 3);
    grid-template-rows:
      calc($aFourteenth * 3) calc($aFourteenth * 3) calc($aFourteenth * 2)
      calc($aFourteenth * 3) calc($aFourteenth * 3);
  }
  li:nth-of-type(1) {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
  }
  li:nth-of-type(2) {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
  }
  li:nth-of-type(3) {
    grid-column: 3 / span 3;
    grid-row: 3 / span 3;
  }
  p:nth-of-type(1) {
    grid-column: 2 / span 2;
    grid-row: 2;
    width: 50%;
    margin-top: 10%;
  }
  p:nth-of-type(2) {
    grid-column: 3;
    grid-row: 3;
    align-self: flex-end;
  }
  p:nth-of-type(3) {
    grid-column: 3;
    grid-row: 4;
  }
  @include responsive {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 22.5rem auto auto;
    gap: 2rem 0;
    ul {
      grid-column: 1;
      grid-row: 3;
    }
    p:nth-of-type(1) {
      grid-column: 1;
      grid-row: 2;
      width: 100%;
      margin-top: 0;
      text-align: center;
    }
    p:nth-of-type(2) {
      grid-column: 1;
      grid-row: 4;
    }
    p:nth-of-type(3) {
      grid-column: 1;
      grid-row: 5;
    }
  }
}
