@use "@styles/partials/mixins" as *;
@use "@styles/partials/placeholders" as *;
@use "@styles/partials/variables" as *;

.dishLink {
  background: linear-gradient(
    rgba(122, 103, 140, 0.75),
    rgba(33, 28, 38, 0.75)
  );
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: 0.3s ease;
  color: $primary-color;

  &:hover {
    background: linear-gradient(
      rgba(122, 103, 140, 0.85),
      rgba(33, 28, 38)
    );
  }
  @include responsive {
    p {
      @include fluid-type(1);
    }
  }
}

.name {
  @include fluid-type(2);
  font-weight: 700;
}

.viewMore {
  @extend %button;
  @include button("tertiary");
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: 700;
  pointer-events: none;
}
