@use "@styles/partials/mixins" as *;
@use "@styles/partials/variables" as *;

.descriptionSection {
  background: $gradient-pink-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 15rem 5rem;
  gap: 0 1.5rem;
  h2 {
    grid-column: 1;
    text-align: start;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  @include responsive {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1rem 18rem;
    gap: 1.5rem 0;
    h2 {
      grid-column: 1;
      text-align: center;
    }
  }
}

.description {
  grid-column: 1;
  grid-row: 2;
  span {
    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

.price {
  grid-column: 1;
  grid-row: 3;
  @include fluid-type(2);
  font-weight: 700;
  margin-top: 1rem;
  color: $accent-color;
  @include responsive {
    text-align: center;
  }
}

.images {
  grid-column: 2;
  grid-row: 1 / span 3;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  img {
    width: 100%;
    height: 100%;
    &:not(:first-child) {
      position: absolute;
      width: 40%;
      height: 40%;
    }
    &:first-child {
      clip-path: polygon(
        calc(40% + 0.75rem) calc(40% + 0.75rem),
        calc(40% + 0.75rem) 0,
        100% 0,
        100% calc(60% - 0.75rem),
        calc(60% - 0.75rem) calc(60% - 0.75rem),
        calc(60% - 0.75rem) 100%,
        0 100%,
        0 calc(40% + 0.75rem)
      );
    }
    &:nth-of-type(2) {
      top: 0;
      left: 0;
    }
    &:last-child {
      bottom: 0;
      right: 0;
    }
  }
  @include responsive {
    grid-column: 1;
    grid-row: 5;
    border-radius: 0.75rem;
    img {
      &:not(:first-child) {
        outline-width: 0.5rem;
      }
      &:nth-of-type(2) {
        border-radius: 0 0 0.75rem 0;
      }
      &:last-child {
        border-radius: 0.75rem 0 0 0;
      }
    }
  }
}
