@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;

.questionElement {
  color: $primary-color;
  width: 100%;
  margin: 1rem auto;
  position: relative;
}

.questionHeader {
  padding: .75rem 2.5rem;
  background: linear-gradient(90deg, $tertiary-color, #7a678c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2.5rem;
  line-height: 1.6;
  border-radius: 2rem 0 2rem 0;
  overflow: hidden;
  strong {
    font-weight: 700;
  }
  button {
    font-size: 1rem;
    position: relative;
    font-weight: 700;
    width: 2.2rem;
    height: 2.2rem;
    color: $primary-color;
    transition: transform 0.3s ease;
    cursor: pointer;
    span {
      transform: rotate(90deg);
      font-size: 2rem;
      line-height: 0;
      margin-left: 0.2rem;
    }
  }
}

.answerContainer {
  margin-top: -1.8rem;
  background: linear-gradient(90deg, $tertiary-color, #7a678c);
  border-radius: 0 0 2rem 0;
  overflow: hidden;
  max-height: 1.8rem;
  transition: max-height 0.5s ease;
  &.open {
    max-height: 50rem;
  }
}

.answer {
  margin : 2.5rem 2.5rem 1rem;
  line-height: 1.8;
  span {
    margin: 0.5rem 0;
  }
}
