@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;

.complexFourImagesSection {
  color: $primary-color;
  background: linear-gradient(
      rgba(140, 56, 84, 0.85),
      rgba(244, 205, 225, 0.85)
    ),
    linear-gradient(rgba(33, 28, 38, 0.35)),
    var(--background-image) $bg-img-char;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5rem 2fr;
  grid-template-rows: auto 8.5rem 1.5rem 8.5rem 10rem;
  padding-bottom: 5rem;
  img {
    width: 100%;
    height: 100%;
  }
  h2 {
    grid-column: span 4;
    grid-row: 1;
  }
  p:nth-of-type(1) {
    grid-column: 4;
    grid-row: 2;
    align-self: flex-end;
  }
  p:nth-of-type(2) {
    grid-column: 4;
    grid-row: 4;
  }
  img:nth-of-type(1) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    border-radius: 2rem 0 0 0;
  }
  img:nth-of-type(2) {
    grid-column: 1;
    grid-row: 5;
  }
  img:nth-of-type(3) {
    grid-column: 2;
    grid-row: 5;
    border-radius: 0 0 2rem 0;
  }
  img:nth-of-type(4) {
    grid-column: 4;
    grid-row: 5;
    border-radius: 2rem 0 2rem 0;
  }
  @include responsive {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 8rem auto 15rem;
    gap: 1.5rem 0;
    img:nth-of-type(2),
    img:nth-of-type(3) {
      display: none;
    }
    p:nth-of-type(1) {
      grid-column: 1;
      grid-row: 2;
      align-self: normal;
    }
    p:nth-of-type(2) {
      grid-column: 1;
      grid-row: 4;
    }
    img:nth-of-type(1) {
      grid-column: 1;
      grid-row: 5;
      border-radius: 1.5rem 0 1.5rem 0;
    }
    img:nth-of-type(4) {
      grid-column: 1;
      grid-row: 3;
      border-radius: 1.5rem 0 1.5rem 0;
    }
  }
}
