@use "@styles/partials/mixins" as *;
@use "@styles/partials/variables" as *;

.appLogo {
  display: block;
  font-family: Arial, sans-serif;
  @include fluid-type(-2);
  font-family: $body-font-family;
  font-weight: 500;
  text-align: center;
  line-height: 1.1; /* Ajustez en fonction de la hauteur de l'image */
}