.childForm {
  input:not([type="submit"]),
  textarea {
    padding: 0.5rem;
    border: 0.05rem solid rgba(33, 28, 38, 0.125);
    box-shadow: 0 0 0.75rem rgba(79, 79, 79, 0.2);
    border-radius: 1rem 0 1rem 0;
    width: 100%;
    margin: 0.25rem 0 1.5rem;
    &:placeholder-shown {
      font-style: italic;
      font-size: 0.85rem;
      color: rgba(33, 28, 38, 0.7);
    }
  }
  input:not([type="submit"]) {
    height: 2.5rem;
  }
  input[type="submit"] {
    margin: 3.5rem auto 1rem;
    padding: 0 3.5rem;
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  textarea {
    height: 8rem;
  }
}
