@use "./variables" as *;
@use "./mixins" as *;

%button {
  height: 2.25rem;
  padding: 0 1.25rem;
  border-radius: 1rem;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  border: 0.125em solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

%reviewBloc {
  line-height: 1.2;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 2rem 0 2rem 0;
  filter: $drop-shadow;
  strong {
    font-weight: 700;
  }
  p {
    font-weight: 500;
  }
  .infos {
    display: flex;
    align-items: center;
    width: fit-content;
  }
  .date {
    flex-shrink: 0;
  }
  .rating {
    margin-right: 0.5rem;
  }
  .ratingText {
    margin-right: 0.2rem;
  }
  .stars {
    display: flex;
    width: 100%;
    overflow: hidden;
    li {
      min-height: fit-content;
      height: fit-content;
    }
  }

  .reviewText {
    margin-top: 1rem;
    line-height: 1.5; 
    height: calc(100% - 4rem);
    overflow-y: auto;
    padding-right: 0.5rem;
  }
  @include responsive {
    border-radius: 1.5rem 0 1.5rem 0;
  }
}

%goldenCard {
  @extend %reviewBloc;
  background: linear-gradient(90deg, $primary-color, $secondary-color-2);
  padding: 1.25rem;
  .headerCard {
    display: flex;
    align-self: center;
    gap: .5em;
  }
  .stars {
    display: none;
  }
  .reviewText {
    height: calc(100% - 2.5rem);
  }
}

%introductionSection {
  @extend %relative-container;
  @include color-curve-bottom;
  background-color: $primary-color;
  display: grid;
  align-items: center;
  gap: 1.5rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 2rem 0 2rem 0;
  }
  @include responsive {
    img {
      border-radius: 1.5rem 0 1.5rem 0;
    }
    img:nth-of-type(1),
    img:nth-of-type(3),
    img:nth-of-type(4) {
      display: none;
    }
  }
}

%curve {
  content: "";
  width: 100%;
  height: 1.85rem;
  position: absolute;
  left: 0;
}

%relative-container {
  position: relative;
}