@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/mixins" as *;

.headerSection {
  position: relative;
  height: 82.5vh;
  background-color: $primary-color;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  hgroup,
  h1 {
    color: $primary-color;
    width: fit-content;
    max-width: calc(100vw - spaceHCalc(1.5rem, 52.5rem, 52.5rem) - 1.5rem);
    line-height: 0.8;
  }
  hgroup {
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 2rem 0 2rem 0;
    position: absolute;
    bottom: 2rem;
    background-color: rgba(33, 28, 38, 0.3);
    backdrop-filter: blur(.25rem);
    -webkit-backdrop-filter: blur(.25rem);
  }
  h1 {
    margin-bottom: 3.5rem;
  }
  p {
    @include fluid-type(2);
    font-weight: 700;
  }
}
