@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/mixins" as *;

.productsCategory {
  padding: 3rem 0;
  ul {
    display: flex;
    max-width: 100vw;
    margin: 2rem auto 0;
    overflow-x: auto;
    padding: 0 calc(50vw - 28rem);
    @include responsive {
        padding: 0 calc(50vw - 7rem);
    }
  }
}
