@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/variables" as *;

.twoImagesTextSection {
  background: linear-gradient(
      90deg,
      rgba(244, 205, 225, 0.95),
      rgba(255, 252, 240, 0.57)
    ),
    linear-gradient(rgba(33, 28, 38, 0.6), rgba(33, 28, 38, 0.6)),
    var(--background-image)
      $bg-img-char;
  display: grid;
  grid-template-columns: 0.35fr 0.35fr 1fr;
  grid-template-rows: auto 17rem;
  gap: 0 1.5rem;
  align-items: center;
  padding-left: spaceHCalc(1.5rem, 12rem, 24rem);
  padding-right: spaceHCalc(1.5rem, 12rem, 24rem);
  h2 {
    grid-column: 1 / span 3;
    grid-row: 1;
    justify-self: center;
  }
  img {
    border-radius: 2rem 0 2rem 0;
    width: 100%;
    height: 100%;
  }
  img:nth-of-type(1) {
    height: 80%;
  }
  img:nth-of-type(2) {
    height: 100%;
  }
  p {
    padding-right: 4rem;
    margin-bottom: 2rem;
    span {
      margin: 1rem 0;
    }
  }
  @include responsive {
    background: linear-gradient(
        180deg,
        rgba(244, 205, 225, 0.95),
        rgba(255, 252, 240, 0.57)
      ),
      linear-gradient(rgba(33, 28, 38, 0.6), rgba(33, 28, 38, 0.6)),
      var(--background-image)
        $bg-img-char;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.7fr 1.8fr;
    h2 {
      grid-column: 1 / span 2;
    }
    p {
      padding-right: 0;
    }
    div {
      grid-row: 2;
      grid-column: 1 / span 2;
    }
    .cta {
      margin: 0 auto 3rem;
    }
    img {
      border-radius: 1.5rem 0 1.5rem 0;
    }
  }
}
